<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboaard</title>
    <link rel="stylesheet" href="/public/css/style_admDashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <div class="dashboard">
        <div class="content">
            <div class="box">
                <h2>Equipamentos</h2>
                <div class="list">
                    <% if (equipments && equipments.length> 0) { %>
                        <% for (let i=0; i < equipments.length; i++) { %>
                            <div class="card">
                                <p><strong>Id:</strong>
                                    <%= equipments[i].id %>
                                </p>
                                <p><strong>Nome:</strong>
                                    <%= equipments[i].nome %>
                                </p>
                                <p><strong>Email Treinador:</strong>
                                    <%= equipments[i].email_treinador %>
                                </p>
                                <div class="buttons">
                                    <a href="/deleteEquipment/<%= equipments[i].id %>">
                                        <button class="btn btn-danger m-1"><i class="material-icons">delete</i></button>
                                    </a>
                                    <a href="/updateEquipment/<%= equipments[i].id %>">
                                        <button class="btn btn-primary m-1"><i class="material-icons">border_color</i></button>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="NoData">
                    <a href="/addEquipment" class="button">Adicionar Equipamento</a>
                    <% if (!equipments) { %>
                        <p>No equipment data available.</p>   
                    <% } %>
                </div>
            </div>

            <div class="box">
                <h2>Treinadores</h2>
                <div class="list">
                    <% if (trainers && trainers.length> 0) { %>
                        <% for (let i=0; i < trainers.length; i++) { %>
                            <div class="card">
                                <p><strong>CPF:</strong>
                                    <%= trainers[i].cpf %>
                                </p>
                                <p><strong>Nome:</strong>
                                    <%= trainers[i].nome %>
                                </p>
                                <p><strong>Email:</strong>
                                    <%= trainers[i].email %>
                                </p>
                                <p><strong>Data:</strong>
                                    <%= trainers[i].data %>
                                </p>
                                <p><strong>salario:</strong> R$ <%= trainers[i].salario %>
                                </p>
                                
                                <div class="buttons">
                                    <button class="btn btn-danger m-1" onclick="confirmDelete('<%= trainers[i].email %>')">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <a href="/updateTrainer/<%= trainers[i].email %>">
                                        <button class="btn btn-primary m-1"><i class="material-icons">border_color</i></button>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                        <% } %>
                </div>
                <div class="NoData">
                    <a href="/addTrainer" class="button">Adicionar Treinador</a>
                    <% if (!trainers) { %>
                        <p>No trainer data available.</p>   
                    <% } %>
                </div>
            </div>

            <div class="box box-statistics">

                <div class="geral-statistics">
                    <h2>Estatísticas Gerais</h2>
                    <p><strong>Total de Treinadores: </strong>
                        <%= qtdTrainers[0].count %>
                    </p>
                    <p><strong>Total de Clientes: </strong>
                        <%= qtdClients[0].count %>
                    </p>
                    <p><strong>Quantidade de Equipamentos: </strong>
                        <%= qtdEquip[0].count %>
                    </p>
                </div>

                <div class="clientes">
                    <div class="list clients-list">
                        <% if (clients && clients.length> 0) { %>
                            <% for (let i=0; i < clients.length; i++) { %>
                                <div class="card-client">
                                    <p><strong>CPF:</strong>
                                        <%= clients[i].cpf %>
                                    </p>
                                    <p><strong>Nome:</strong>
                                        <%= clients[i].nome %>
                                    </p>
                                    <p><strong>Email:</strong>
                                        <%= clients[i].email %>
                                    </p>
                                    <p><strong>Data:</strong>
                                        <%= clients[i].data %>
                                    </p>
                                    <p><strong>Objetivo:</strong> 
                                        <%= clients[i].objetivo %>
                                    </p>
                                    
                                    <div class="buttons">
                                        <a href="/deleteClient/<%= clients[i].email %>">
                                            <button class="btn btn-danger m-1"><i class="material-icons">delete</i></button>        
                                        </a>
                                        <a href="/updateClient/<%= clients[i].email %>">
                                            <button class="btn btn-primary m-1"><i class="material-icons">border_color</i></button>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="NoData">
                                <p>No trainer data available.</p>    
                            </div>
                        <% } %>
                    </div>
    
                    <div>
                        <a href="/addClient" class="button">Adicionar Cliente</a>
                    </div>
    
                </div>
                
            </div>
        </div>
    </div>

    <script>
        const carousel = document.querySelector('#carousel');
        const previousButton = document.querySelector('#previous');
        const nextButton = document.querySelector('#next');

        let currentSlide = 0;
        const slides = Array.from(carousel.children);

        previousButton.addEventListener('click', () => {
            currentSlide--;
            if (currentSlide < 0) {
                currentSlide = slides.length - 1;
            }
            carousel.style.transform = `translateX(-${currentSlide * 100}%)`;
        });

        nextButton.addEventListener('click', () => {
            currentSlide++;
            if (currentSlide >= slides.length) {
                currentSlide = 0;
            }
            carousel.style.transform = `translateX(-${currentSlide * 100}%)`;
        });

        function confirmDelete(email) {
            const isConfirmed = confirm("Tem certeza que deseja excluir o treinador?");
            if (isConfirmed) {
                window.location.href = `/deleteTrainer/${email}`;
            }
        };
    </script>

</body>

</html>