<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboaard</title>
    <link rel="stylesheet" href="/public/css/style_admDashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/public/css/style_header.css">
</head>

<header>
    <div class="navbar fixed-icons">
        <div class="menu-icon" onclick="toggleNav()">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="mini-nav-items">
            <a href="/admDashboard">
              <div class="icon-link">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              </div>
            </a>
            <a href="/addClient">
              <div class="icon-link">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              </div>
            </a>
            <a href="/addEquipment">
              <div class="icon-link">
                <span class="icon"><ion-icon name="barbell-outline"></ion-icon></span>
              </div>
            </a>
            <a href="/addTrainer">
              <div class="icon-link">
                <span class="icon"><ion-icon name="body-outline"></ion-icon></span>
              </div>
            </a>
            <a href="/create-user">
              <div class="icon-link">
                <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
              </div>
            </a>
            <a href="/logout">
              <div class="icon-link">
                <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              </div>
            </a>
        </div>
    
        <ul class="nav-items">
            <li><a href="/admDashboard"><span class="icon"><ion-icon name="home-outline"></ion-icon></span>Home</a></li>
            <li><a href="/addClient"><span class="icon"><ion-icon name="person-outline"></ion-icon></span>Adicionar Cliente</a></li>
            <li><a href="/addEquipment"><span class="icon"><ion-icon name="barbell-outline"></ion-icon></span>Adicionar Equipamento</a></li>
            <li><a href="/addTrainer"><span class="icon"><ion-icon name="body-outline"></ion-icon></span>Adicionar Treinador</a></li>
            <li><a href="/create-user"><span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>Criar usuário</a></li>
            <li><a href="/logout"><span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>Logout</a></li>
        </ul>
      </div>
    
      <script>
        function toggleNav() {
            const navItems = document.querySelector('.nav-items');
            navItems.classList.toggle('show');
            document.querySelector('.navbar').classList.toggle('show');
        
            const menuIcon = document.querySelector('.menu-icon');
            menuIcon.classList.toggle('rotate');
            menuIcon.classList.toggle('align');
            
            const navLinks = document.querySelectorAll('.nav-items li a');
        
            const miniNavItems = document.querySelector('.mini-nav-items');
            miniNavItems.classList.toggle('hide');
        
            if (navItems.classList.contains('show')) {
            navLinks.forEach(link => link.style.fontSize = 'medium');
            } else {
            navLinks.forEach(link => link.style.fontSize = 'small');
            }
        };
      </script>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</header>


<body>

    <div class="dashboard">
        <div class="content">
            <div class="box">
                <h2>Equipamentos</h2>
                <div class="list">
                    <% if (equipments && equipments.length> 0) { %>
                        <% for (let i=0; i < equipments.length; i++) { %>
                            <div class="card">
                                <p><strong>Id:</strong>
                                    <%= equipments[i].id %>
                                </p>
                                <p><strong>Nome:</strong>
                                    <%= equipments[i].nome %>
                                </p>
                                <p><strong>Email Treinador:</strong>
                                    <%= equipments[i].email_treinador %>
                                </p>
                                <div class="buttons">
                                    <a href="/deleteEquipment/<%= equipments[i].id %>">
                                        <button class="btn btn-danger m-1"><i class="material-icons">delete</i></button>
                                    </a>
                                    <a href="/updateEquipment/<%= equipments[i].id %>">
                                        <button class="btn btn-primary m-1"><i class="material-icons">border_color</i></button>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="NoData">
                    <a href="/addEquipment" class="button">Adicionar Equipamento</a>
                    <% if (!equipments) { %>
                        <p>No equipment data available.</p>   
                    <% } %>
                </div>
            </div>

            <div class="box">
                <h2>Treinadores</h2>
                <div class="list">
                    <% if (trainers && trainers.length> 0) { %>
                        <% for (let i=0; i < trainers.length; i++) { %>
                            <div class="card">
                                <p><strong>CPF:</strong>
                                    <%= trainers[i].cpf %>
                                </p>
                                <p><strong>Nome:</strong>
                                    <%= trainers[i].nome %>
                                </p>
                                <p><strong>Email:</strong>
                                    <%= trainers[i].email %>
                                </p>
                                <p><strong>Data:</strong>
                                    <%= trainers[i].data %>
                                </p>
                                <p><strong>salario:</strong> R$ <%= trainers[i].salario %>
                                </p>
                                
                                <div class="buttons">
                                    <button class="btn btn-danger m-1" onclick="confirmDelete('<%= trainers[i].email %>')">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <a href="/updateTrainer/<%= trainers[i].email %>">
                                        <button class="btn btn-primary m-1"><i class="material-icons">border_color</i></button>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                        <% } %>
                </div>
                <div class="NoData">
                    <a href="/addTrainer" class="button">Adicionar Treinador</a>
                    <% if (!trainers) { %>
                        <p>No trainer data available.</p>   
                    <% } %>
                </div>
            </div>

            <div class="box box-statistics">

                <div class="geral-statistics">
                    <h2>Estatísticas Gerais</h2>
                    <p><strong>Total de Treinadores: </strong>
                        <%= qtdTrainers[0].count %>
                    </p>
                    <p><strong>Total de Clientes: </strong>
                        <%= qtdClients[0].count %>
                    </p>
                    <p><strong>Quantidade de Equipamentos: </strong>
                        <%= qtdEquip[0].count %>
                    </p>
                </div>

                <div class="clientes">
                    <div class="list clients-list">
                        <% if (clients && clients.length> 0) { %>
                            <% for (let i=0; i < clients.length; i++) { %>
                                <div class="card-client">
                                    <p><strong>CPF:</strong>
                                        <%= clients[i].cpf %>
                                    </p>
                                    <p><strong>Nome:</strong>
                                        <%= clients[i].nome %>
                                    </p>
                                    <p><strong>Email:</strong>
                                        <%= clients[i].email %>
                                    </p>
                                    <p><strong>Data:</strong>
                                        <%= clients[i].data %>
                                    </p>
                                    <p><strong>Objetivo:</strong> 
                                        <%= clients[i].objetivo %>
                                    </p>
                                    
                                    <div class="buttons">
                                        <a href="/deleteClient/<%= clients[i].email %>">
                                            <button class="btn btn-danger m-1"><i class="material-icons">delete</i></button>        
                                        </a>
                                        <a href="/updateClient/<%= clients[i].email %>">
                                            <button class="btn btn-primary m-1"><i class="material-icons">border_color</i></button>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="NoData">
                                <p>No trainer data available.</p>    
                            </div>
                        <% } %>
                    </div>
    
                    <div>
                        <a href="/addClient" class="button">Adicionar Cliente</a>
                    </div>
    
                </div>
                
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Tem certeza que deseja excluir o treinador?</p>
          <button class="button" id="confirm">Sim</button>
          <button class="button" id="cancel">Não</button>
        </div>
    </div>

    <script>

        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        var cancel = document.getElementById("cancel");

        function confirmDelete(email) {
            modal.style.display = "block";
            document.getElementById("confirm").onclick = function() {
                window.location.href = `/deleteTrainer/${email}`;
            }
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        cancel.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        
    </script>

</body>

</html>