<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_trainerDash.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/css/style_header.css">
    <title>Dashboard</title>
</head>

<header>
    <div class="navbar fixed-icons">
        <div class="menu-icon" onclick="toggleNav()">
            <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="mini-nav-items">
            <a href="/trainerDashboard">
              <div class="icon-link">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              </div>
            </a>
            <a href="/registrarUso">
              <div class="icon-link">
                <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
              </div>
            </a>
            <a href="/logout">
              <div class="icon-link">
                <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              </div>
            </a>
        </div>
    
        <ul class="nav-items">
            <li><a href="/trainerDashboard"><span class="icon"><ion-icon name="home-outline"></ion-icon></span>Home</a></li>
            <li><a href="/registrar_Uso/<%= equip.id %>"><span class="icon"><ion-icon name="person-outline"></ion-icon></span>Adicionar Cliente</a></li>
            <li><a href="/logout"><span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>Logout</a></li>
        </ul>
      </div>
    
      <script>
        function toggleNav() {
            const navItems = document.querySelector('.nav-items');
            navItems.classList.toggle('show');
            document.querySelector('.navbar').classList.toggle('show');
        
            const menuIcon = document.querySelector('.menu-icon');
            menuIcon.classList.toggle('rotate');
            menuIcon.classList.toggle('align');
            
            const navLinks = document.querySelectorAll('.nav-items li a');
        
            const miniNavItems = document.querySelector('.mini-nav-items');
            miniNavItems.classList.toggle('hide');
        
            if (navItems.classList.contains('show')) {
            navLinks.forEach(link => link.style.fontSize = 'medium');
            } else {
            navLinks.forEach(link => link.style.fontSize = 'small');
            }
        };
      </script>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</header>


<body>
    
    <div class="dashboard">
        <div class="content">

            <div class="box">
                <h2>Equipamento</h2>
                <div class="card">
                    <div class="list-equip">
                        <% if (equip) { %>
                            <div class="card-equip">
                                <p><strong>Id:</strong> <%= equip.id %></p>
                                <p><strong>Nome:</strong> <%= equip.nome %></p>
                                <p><strong>Email Treinador:</strong> <%= equip.email_treinador %></p>
                            </div>
                        <% } else { %>
                            <div class="card-equip alert">
                                <p>Você não possui nenhum equipamento.</p>
                                <p><strong>If this is an issue, please contact your boss to have your equipment added to the database.</strong></p>
                            </div>
                        <% } %>
                    </div>
                </div>

                <% if (equip) { %>
                    <h2>Clientes que usaram o equipamento</h2>
                <div class="filter">
                    <select id="filter">
                        <option value="today">Hoje</option>
                        <option value="yesterday">Ontem</option>
                        <option value="thisMonth">Esta Semana</option>
                        <option value="mostUsed">Mais Usado Este Ano</option>
                    </select>
                    <button id="applyFilter">Aplicar Filtro</button>    
                </div>
                <div class="card">
                    <div class="list" id="clientData">
                        <% if (clients && clients.length > 0) { %>
                            <% for (let i = 0; i < clients.length; i++) { %>
                                <div class="card-equip">
                                    <p><strong>Nome:</strong> <%= clients[i].nome %></p>
                                    <p><strong>Email:</strong> <%= clients[i].email %></p>
                                    <p><strong>Objetivo:</strong> <%= clients[i].objetivo %></p>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="card-equip">
                                <p>No Client data available.</p>
                            </div>
                        <% } %>
                    </div>
                </div>

                <% if (equip && equip.length > 0) { %>
                    <div class="registrar">
                        <button><a class="button" href="/registrarUso/<%= equip[0].id %>">Adicionar registro</a></button>
                    </div>
                <% } %>
                <% } %>
            </div>

        </div>
    </div>

    
<script>
$(document).ready(function(){
    $('#applyFilter').click(function(){
        var filter = $('#filter').val();
        console.log(filter);
        
        <% if (equip && equip.length > 0) { %>
            $.ajax({
                url: '/trainerDashboard/' + filter,
                type: 'GET',
                success: function(data){
                    $('#clientData').html(data);
                }
            });
        <% } else { %>
            console.log('No equipment associated with the trainer.');
        <% } %>
    });
});

</script>

</body>
</html> 